<div class='container' style='background-color:#1e2b34'>
  <h1>Mara</h1>
  <h2>Out of sample accuracy: 58%</h2>
  <p>
    Our latest model is Mara.
    Mara is a Voting Classifier, she takes votes from three classification algorithms:
    <ul>
      <li> Support Vector Machine </li>
      <li> Random Forest Classifier </li>
      <li> K-Nearest-Neighbors </li>
    </ul>
  </p>
  <p>
    We trained Mara on 5 years of the following daily data:
    <ul>
      <li>RTS close price
      <li>Close price for 15 other securities (including BR, Si, VTBR, among others)</li>
      <li>Open positions (of physical and legal entities) for RTS futures, puts, and calls</li>
      <li>At the money implied volatility.</li>
    </ul>

  </p>
</div>
