{% extends "deck/deck_header.html" %}
{% block content %}
<div id="left-sidebar" class="left-sidebar">
  <!-- main-nav -->
  <div class="sidebar-scroll">
    <nav class="main-nav">
      <ul class="main-menu">
        <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
          <i class="toggle-icon fa fa-angle-left"></i></a>
          <ul class="sub-menu ">
            <table class="table">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>LAST</td>
                  <td>LAST CHG %</td>
                </tr>
              </thead>
              <tbody>

                {% for p in market_data|dictsortreversed:'VALTODAY' %}
                  {% if p.LAST > 0 %}
                    <tr>
                      <td style='{padding:0}'><a href="#" onclick=draw_chart("{{ p.SECID }}") style='display:table;background-color:transparent;'>{{ p.SECID }}</a></td>
                      <td>{{ p.LAST }}</td>
                      <td>{{ p.LASTCHANGEPRCNT }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </ul>



        </li>



        <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
          <i class="toggle-icon fa fa-angle-down"></i></a>
          <ul class="sub-menu ">

          </ul>
        </li>

      </ul>
    </nav>
    <!-- /main-nav -->
  </div>
</div>
<!-- END LEFT SIDEBAR -->
<!-- MAIN CONTENT WRAPPER -->
<div id="main-content-wrapper" class="content-wrapper ">
  <!-- top general alert -->
  <div class="alert alert-danger top-general-alert">
    <span>If you are <strong>MATIAS JONSON</strong>  click <a href='/deck/ML'>HERE</a> </span>

  </div>
  <!-- end top general alert -->
  <!-- <div class="row">
    <div class="col-md-4 ">

    </div>
    <div class="col-md-8 ">
      <div class="top-content">
        <ul class="list-inline mini-stat">
          <li>
            <h5>RTS-9.17 <span class="stat-value stat-color-orange"><i class="fa fa-plus-circle"></i> 96,040</span></h5>
            <span id="mini-bar-chart1" class="mini-bar-chart"></span>
          </li>
          <li>
            <h5>Si-12.17 <span class="stat-value stat-color-blue"><i class="fa fa-plus-circle"></i> 61,340</span></h5>
            <span id="mini-bar-chart2" class="mini-bar-chart"></span>
          </li>
          <li>
            <h5>RVI-9.17 <span class="stat-value stat-color-seagreen"><i class="fa fa-plus-circle"></i> 23,748</span></h5>
            <span id="mini-bar-chart3" class="mini-bar-chart"></span>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <!-- main -->
  {% regroup ops by future as opsa_list %}
  <div class="content">



    <div class="main-content">
      <!-- <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">GRAPHLOW 2</a>
              </h4>
            </div>
          <div id="collapse2" class="panel-collapse collapse" style='background-color:#1e2b34'>

          </div>
        </div>
      </div> -->

      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class='row'>
                <div class='col-md-4'>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" onclick="navver()">QUIKCHART</a>
                  </h4>
                </div>
                <div id='quick_chart_navver' class='col-md-8' style="display:none;">
                  <ul class="nav navbar-nav navbar-left" style={height:inherit}>
                    <li><a href="#" class="" onclick="draw_chart(glob_ticker)">CHART</a></li>
                    <li><a href="#" class="" onclick="draw_term_structure()">TERM STRUCTURE</a></li>
                    <li><a href="#" class="">MONTE CARLO</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse" style='background-color:#1e2b34'>
              <!-- <ul class="nav nav-tabs">
                <li class="active"><a data-toggle='tab' href="#wrtc">Home</a></li>
                <li><a data-toggle='tab' href="#montecarlo">Monte Carlo</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
              </ul> -->
              <div id='wrtc' class="tab-pane fade in active" style='height:600px'></div>
              <!-- <div id='tab2' class="tab-pane fade in active" style='height:600px'>Hi2</div>
              <div id='tab3' class="tab-pane fade in active" style='height:600px'>Hi3</div> -->
              <!-- <div id='wrtc' class="panel-body" style='height:600px'></div> -->
            </div>
          </div>
        </div>
        <!-- END OF GRAPHFLOW -->


        <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading nav navbar-default" style="background-color:transparent;">
                <row>
                  <div class="col-xs-4">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse_term">TERM STRUCTURE</a>
                    </h4>
                  </div>
                  <div class="col-xs-8">

                  </div>

                </row>
              </div>
              <div id="collapse_term" class="panel-collapse collapse" style='background-color:#1e2b34'>
                <!-- <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle='tab' href="#wrtc">Home</a></li>
                  <li><a data-toggle='tab' href="#montecarlo">Monte Carlo</a></li>
                  <li><a href="#">Menu 2</a></li>
                  <li><a href="#">Menu 3</a></li>
                </ul> -->
                <div id='term_structure' class="tab-pane fade in active"></div>
                <!-- <div id='tab2' class="tab-pane fade in active" style='height:600px'>Hi2</div>
                <div id='tab3' class="tab-pane fade in active" style='height:600px'>Hi3</div> -->
                <!-- <div id='wrtc' class="panel-body" style='height:600px'></div> -->
              </div>
            </div>
          </div>
        <!-- <div class="panel-group" style='outline: 1px solid #11116d;'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class='row'>
                  <div class='col-md-10'>
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse_terms">ML</a>
                    </h4>
                  </div>
                  <div class='col-md-2'>
                  </div>
                </div>
              </div>
              <div id="collapse_terms" class="panel-collapse collapse">
                <div id='terms' class="tab-pane fade in active" style='height:600px'>
                  <p>
                    include "deck/deck_ml.html"
                  </p>
                </div>
              </div>
            </div>
          </div>


          <div class="panel-group" style='outline: 1px solid #11116d;'>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class='row'>
                    <div class='col-md-10'>
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_info">INFO</a>
                      </h4>
                    </div>
                    <div class='col-md-2'>
                    </div>
                  </div>
                </div>
                <div id="collapse_info" class="panel-collapse collapse">
                  <div id='terms' class="tab-pane fade in active" style='height:600px;background-color:#1e2b34;'>
                    <p>
                      <div id='testing'>
                        <table>
                          <tr>
                            <th></th>
                            <td></td>
                            <th></th>
                            <td></td>
                          </tr>
                        </table>

                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
<!-- ["SECID", "BOARDID", "BID", "OFFER", "SPREAD", "OPEN", "HIGH", "LOW", "LAST", "QUANTITY", "LASTCHANGE", "SETTLEPRICE", "SETTLETOPREVSETTLE", "OPENPOSITION", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "UPDATETIME", "LASTCHANGEPRCNT", "BIDDEPTH", "BIDDEPTHT", "NUMBIDS", "OFFERDEPTH", "OFFERDEPTHT", "NUMOFFERS", "TIME", "SETTLETOPREVSETTLEPRC", "SEQNUM", "SYSTIME", "TRADEDATE", "LASTTOPREVPRICE", "OICHANGE"] -->












      <!-- <div class="widget real-time-chart">


        <div class="widget-header" style={padding:0px}>
          <h3><i class="fa fa-cogs"></i> CPU Load</h3> <em>- Realtime chart</em>
          <div class="btn-group widget-header-toolbar">
            <a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
            <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
            <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div id="wrtc" style="width:100%" class="widget-content">


          HI
        </div>
      </div> -->

      <!-- WIDGET TICKET TABLE -->

      <!-- END WIDGET TICKET TABLE -->
      <!-- WIDGET TICKET TABLE -->

      <!-- END WIDGET TICKET TABLE -->

      <!-- WIDGET MAIN CHART WITH TABBED CONTENT -->

      <!-- END WIDGET MAIN CHART WITH TABBED CONTENT -->

    </div>
  </div>
  <div id='all_terms' class='container'>
  </div>
  <div class='container'>
    <table class='table-responsive'>
      <tr>
        <td>Hello</td>

      </tr>
    </table>
  </div>
  <!-- /main -->
  <!-- FOOTER -->
  <!-- <footer class="footer">
    &copy; MOSKVANT
  </footer> -->
  <!-- END FOOTER -->
</div>
<!-- <script>
function ticker_header(ticker) {
  var url = 'https://iss.moex.com/iss/engines/futures/markets/forts/securities/'+ticker+'.json'
  $.getJSON(url, function (data) {
    console.log(data)
  });

};
</script> -->
<!-- ["SECID", "BOARDID", "BID", "OFFER", "SPREAD", "OPEN", "HIGH", "LOW", "LAST", "QUANTITY", "LASTCHANGE", "SETTLEPRICE", "SETTLETOPREVSETTLE", "OPENPOSITION", "NUMTRADES", "VOLTODAY", "VALTODAY", "VALTODAY_USD", "UPDATETIME", "LASTCHANGEPRCNT", "BIDDEPTH", "BIDDEPTHT", "NUMBIDS", "OFFERDEPTH", "OFFERDEPTHT", "NUMOFFERS", "TIME", "SETTLETOPREVSETTLEPRC", "SEQNUM", "SYSTIME", "TRADEDATE", "LASTTOPREVPRICE", "OICHANGE"] -->
<script>
function navver() {
  $('#quick_chart_navver').toggle();
  console.log('navver');
};


function makeTable(data) {
  global_data = data;
  var array = data[1].marketdata[1];
  console.log(array);
  array.sort(function(a,b){
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return new Date(b.LASTTRADEDATE) - new Date(a.LASTTRADEDATE);
  });

  console.log(array);
  // array = data.marketdata.data;
  console.log("in make table");
  // console.log(array[0]['SECID']);
  // console.log(data.marketdata.columns);
  // console.log(data.marketdata.data);
  var heads = ["SECID","LAST","SETTLEPRICE","OPENPOSITION","VALTODAY","LASTCHANGEPRCNT","OICHANGE"]
  // console.log(array[0][33]);
  // console.log('yeah?');
    var table = document.createElement('table');
    table.className = 'table';
    var headrow = document.createElement('thead');
    for (var h in heads) {
      var headcell = document.createElement('th');
      h = heads[h];
      headcell.textContent = h;
      headrow.append(headcell);
    };
    table.appendChild(headrow);
    var tablebody = document.createElement('tbody');
    table.append(tablebody)
    for (var i = 0; i < array.length; i++) {
        var row = document.createElement('tr');
        // console.log(array[0]);
        for (var j in heads) {
            var cell = document.createElement('td');
            j = heads[j];
            // console.log(j);
            // console.log(array[i][j]);
            // console.log('you pass');
            cell.textContent = array[i][j];
            // console.log(array[i][j]);
            row.appendChild(cell);
            // console.log(cell.textContent);
        }
        tablebody.appendChild(row);
    };
    // console.log(table);
    $("#term_structure").empty().append(table);
    return table;
};
// function table_getter() {
//   var url = 'https://iss.moex.com/iss/engines/futures/markets/forts/securities.json?sectypes=RI&iss.json=extended'
//   $.getJSON(url, function (data) {
//     console.log('doing it:');
//     // data = data[1].marketdata[1];
//     // console.log(data);
//     makeTable(data);
//   });
// };
// table_getter();




function asset_grouping(assetcode) {
  var url = 'https://iss.moex.com/iss/engines/futures/markets/forts/securities.json?sectypes='+assetcode+'&iss.json=extended'
  $.getJSON(url, function (data) {
    console.log(assetcode);
    makeTable(data);
  });
};

function ticker_header(ticker) {
  var url = 'https://iss.moex.com/iss/engines/futures/markets/forts/securities/'+ticker+'.json?iss.json=extended'
  $.getJSON(url, function (data) {
    // console.log(data[1].marketdata[1][0]);
    var ac = data[1].securities[1][0].SECTYPE;
    var shortname = data[1].securities[1][0].SHORTNAME;
    var last = data[1].marketdata[1][0].LAST;
    var last_change_prcnt = data[1].marketdata[1][0].LASTCHANGEPRCNT;
    $("#shortname").text(shortname);
    // $("#shortname").text(shortname);
    $("#LAST").text('Last: '+last);
    $("#LASTCHANGEPRCNT").text('Pct Ch: '+last_change_prcnt);
    $("#ASSETCODE").text(ac);
    $("#UPDATETIME").text(data[1].marketdata[1][0].UPDATETIME)
    asset_grouping(ac);
  });

};

  function draw_term_structure() {
    console.log('arr');
    var term_data_mkt = global_data[1].marketdata[1];
    var term_data_sec = global_data[1].securities[1];
    term_data_sec.sort(function(a,b){
  // Turn your strings into dates, and then subtract them
  // to get a value that is either negative, positive, or zero.
  return new Date(b.LASTTRADEDATE) - new Date(a.LASTTRADEDATE);
});
term_data_mkt.sort(function(a,b){
// Turn your strings into dates, and then subtract them
// to get a value that is either negative, positive, or zero.
return new Date(b.LASTTRADEDATE) - new Date(a.LASTTRADEDATE);
});
console.log(term_data_mkt);

    var prev_settle = [];
    var settle = [];
    var last = [];
    var tdl =
    console.log(term_data_mkt.length);

    for (var i = 0; i < term_data_mkt.length; i++) {
      // console.log(term_data_mkt.length);
      // console.log('hello');
        prev_settle.push([
            Date.parse(term_data_sec[i]['LASTTRADEDATE']), // the date
            // console.log(term_data_sec[i]['LASTTRADEDATE']),
            term_data_sec[i]['PREVSETTLEPRICE'], // prevsetleprice
        ]);

        settle.push([
            Date.parse(term_data_sec[i]['LASTTRADEDATE']), // the date
            term_data_mkt[i]['SETTLEPRICE'] // the volume
        ]);
        if (term_data_mkt[i]['LAST'] > 0) {
          last.push([Date.parse(term_data_sec[i]['LASTTRADEDATE']),term_data_mkt[i]['LAST']]);
        }
    };
    // console.log(prev_settle);
    // console.log(settle);
    // console.log(last);
    Highcharts.chart('wrtc', {

    chart: {
        type: 'line'
    },
    title: {
        text: glob_ticker+' Term Structure'
    },
    // subtitle: {
    //     text: 'Source: WorldClimate.com'
    // },
    // xAxis: {
    //     categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    // },
    // yAxis: {
    //     title: {
    //         text: 'Temperature (°C)'
    //     }
    // },
    xAxis: {
        type: 'datetime',
        // dateTimeLabelFormats: { // don't display the dummy year
        //     month: '%e. %b',
        //     year: '%b'
        // },
        title: {
            text: 'Date'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        }
    },
    series: [{
        name: 'Prev Settle',
        data: prev_settle,
    }, {
        name: 'Settle',
        data: settle,
    }, {
        name: 'Last',
        data: last,
    }],
    // series: [{
    //     name: 'Tokyo',
    //     data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
    // }, {
    //     name: 'London',
    //     data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
    // }]
});
    // console.log(term_data);

  };


  function draw_chart(ticker) {
  $("#instrument").text(ticker);
  ticker_header(ticker);
  // var url1 = 'http://iss.moex.com/iss/engines/futures/markets/forts/securities/RIU7.json'


//   $.getJSON( url1, function( data ) {
//   var items = [];
//   data = data.marketdata.data[0];
//   // $.each( data, function( key, val ) {
//   //   items.push( "<li id='" + key + "'>" + val + "</li>" );
//   // });
//
//   // $( "<ul/>", {
//   //   "class": "my-new-list",
//   //   html: items.join( "" )
//   // }).appendTo( "testing" );
// });







  var url2 = 'http://iss.moex.com/iss/engines/futures/markets/forts/securities/'+ticker+'/candles.json?from=2010-08-08&interval=24&start=0&iss.meta=off'
  $.getJSON(url2, function (data) {

    // defining global ticker variable
    glob_ticker = ticker;

  // split the data set into ohlc and volume
  var ohlc = [],
      volume = [],
      data = data.candles.data
      dataLength = data.length,
      // set the allowed units for data grouping
      // groupingUnits = [[
      //     'week',                         // unit name
      //     [1]                             // allowed multiples
      // ], [
      //     'month',
      //     [1, 2, 3, 4, 6]
      // ]],

      i = 0;

  for (i; i < dataLength; i += 1) {
      ohlc.push([
          Date.parse(data[i][6]), // the date
          data[i][0], // open
          data[i][2], // high
          data[i][3], // low
          data[i][1] // close
      ]);

      volume.push([
          Date.parse(data[i][6]), // the date
          data[i][5] // the volume
      ]);
  }


  // create the chart
  Highcharts.stockChart('wrtc', {

      rangeSelector: {
          selected: 1
      },

      title: {
          text: ticker
      },

      yAxis: [{
          labels: {
              align: 'right',
              x: -3
          },
          title: {
              text: 'OHLC'
          },
          height: '60%',
          lineWidth: 2
      }, {
          labels: {
              align: 'right',
              x: -3
          },
          title: {
              text: 'Volume'
          },
          top: '65%',
          height: '35%',
          offset: 0,
          lineWidth: 2
      }],

      tooltip: {
          split: true
      },

      series: [{
          type: 'candlestick',
          name: 'AAPL',
          data: ohlc,
          dataGrouping: {
              // units: groupingUnits
          }
      }, {
          type: 'column',
          name: 'Volume',
          data: volume,
          yAxis: 1,
          dataGrouping: {
              // units: groupingUnits
          }
      }]
  });
})
};

  $('reflow-chart').click(function () {
    chart.reflow();
});
  </script>
{% endblock %}
